body {overflow-y:scroll;}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(212, 9, 9); 
}

.fixed-top {
  right: unset !important;
  left: unset !important;
}

.eq-errors {
  z-index: 1035;
}

.eq-tabs {
  background-color: #ffffff;
}

.not-clickable {
  cursor: not-allowed;
}


.modal-dialog {
  max-width: 50%;
}

.poi-map {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  flex-wrap: wrap;
}

.poi-map div {
  width: 10px;;
  height: 10px;
  margin: 1px;
}

.poi-1 {
  background-color: #dc3545;
}

.poi-2 {
  background-color: #007bff;
}

.poi-3 {
  background-color: #ffc107;
}

.poi-4 {
  background-color: #17a2b8;
}