body {overflow-y:scroll;}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(212, 9, 9); 
}

.fixed-top {
  right: unset !important;
  left: unset !important;
}

.eq-errors {
  z-index: 1035;
}

.eq-tabs {
  background-color: #ffffff;
}

.not-clickable {
  cursor: not-allowed;
}


.modal-dialog {
  max-width: 50%;
}

#indensity-map {
  min-height: 500px !important;
  min-width: 100%;
}