::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(212, 9, 9); 
}

.fixed-top {
  right: unset !important;
  left: unset !important;
}

.eq-errors {
  z-index: 1035;
}

.eq-tabs {
  background-color: #ffffff;
}